<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="component.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
</head>
<body>
	<section class="component-feed container">
		<div class="author container">
			<img class="img-circle" src="http://dummyimage.com/100x100/61bcc1/fff" alt="author profile image">
			<span class="vcard author post-author"><a class="fn" href="author">Whale</a> posted a new <a class="feed-type" href="">bounty</a></span>
		</div>
		<div class="box box_rounded container">
			<div class="title row">
				<img class="img-rounded" src="http://dummyimage.com/100x100/bf9950/fff" alt="feed type icon image">
				<span>Bounty <a class="feed-type-id" href="">#96</a> on <a class="feed-category" href="">Helpful</a></span>
			</div>
			<div class="main row">
				<div class="meta">
					<span class="glyphicon glyphicon-record credit bold">3444</span>
					<span class="feed-date box_rounded bold">Now</span>
					<span class="feed-language text-uppercase box_rounded bold">HTML</span>
					<span class="feed-language text-uppercase box_rounded bold">RUBY</span>
				</div>
				<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="social container">
					<div class="likes row">
						<div class="icon col-xs-1"><span class="glyphicon glyphicon-heart icohearth bold"></span></div>
						<div class="details col-xs-11">
							<a href="author">Unknown</a>,
							<a href="author">Friend</a>,
							<span> and 154 persons like this!</span>
						</div>
					</div>
					<div class="comments row">
						<div class="col-xs-1"><span class="glyphicon glyphicon-comment icocomment bold"></span></div>
						<div class="details col-xs-11">
							<a href="author">View all 178 comments.</a>
						</div>
					</div>
					<div class="comment row">
						<img class="img-circle user_pic col-xs-1" src="http://dummyimage.com/100x100/aaa/fff" alt="user picture">
						<div class="col-xs-11">
							<a href="author">Author</a>
							<p>I love this compontent! =D</p>
						</div>
					</div>
					<div class="comment row">
						<img class="img-circle user_pic col-xs-1" src="http://dummyimage.com/100x100/aaa/fff" alt="user picture">
						<div class="col-xs-11">
							<a href="author">Author</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							incididunt ut labore et dolore magna aliqua.</p>
							<img class="" src="http://dummyimage.com/200x300/aaa/fff" alt="user picture">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="row">
						<img class="img-circle user_pic col-xs-1" src="http://dummyimage.com/100x100/aaa/fff" alt="user picture">
						<form class="col-xs-11" action="">
						<button class="button">Comment</button></form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>